header{
	background: #dedede;
}


body{
	background-color: #efefef;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
}

#nav{
	margin-right: auto;
	margin-left: auto;
}


h1{
	font-weight: 300;
	font-size: .9rem;
	display: block;
	text-align: center;
}

h2{
	text-align: center;
	opacity: .80;
	display: inline-block;
}

h2:hover{

		-webkit-transform:translate(0px, -5px); /* Safari and Chrome */
		-webkit-transition:-webkit-transform .5s;
		-webkit-transition-timing-function:ease;
}



h2 a{
	margin-left: 50px;
	margin-righ: 50px;
	font-weight: 300;
	font-size: .8rem;
	text-decoration: none;
}


.row{
	width: 100%;
	height: 50px;
}

#color1{
	background: #282828;
}

#color2{
	background: #ea393f;
}

#color3{
	background: #ee6165;
}

#color4{
	background: #f2888c;
}

#color5{
	background: #fbd7d9;
}


